{% extends 'base.html' %}

{% block content %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <!-- <form action="{% url 'add_photo'  %}" enctype="multipart/form-data" method="POST" class="card-panel"> -->
  <form action="{% url 'add_photo'  %}"  method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="small-btn pink" value="Upload Photo">
  </form>
  <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    {% for photo in post.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
 

    <form method="POST" action="{% url 'comments_create' %}">
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_p }}
    </table>
    <input type="submit" value="Done!" class="small-btn pink">
  </form>
{% endblock %}