{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />
    <title>Welcome to Tinterest</title>
  </head>
  <body>
    <h3>Edit Profile</h3>
    <h5 class="center-align">{{ user.username }}</h5>
<p class="text-secondary center-align">{{ user.profile.description }}</p>
    Here is your form, please submit your extended user profile info
    <form method="POST" action='/records/records_create/'>
        {% csrf_token %}
        <label for="name">Title</label><br>
        <input type="text" id="title" name="title" /><br>
        <input type="text" name="artist" placeholder="Enter Artist" /><br>
        <input type="number" name="year" placeholder="Enter Year"/><br>
        <input type="text" name="label" placeholder="Enter Label"/><br>
        <textarea name="description" id="description" cols="30" rows="10"placeholder="description"></textarea>
        <br>
        
        <button type="submit">Submit Record</button>
    </form>
 
  </body>
</html>







  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <!-- <form action="" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
</table>
    <input type="submit" value="Submit!" class="btn">
</form> -->








