{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap"
  rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />
  <title>Welcome to Tinterest</title>
</head>
<body>
    <section class="container">
      <div class="navbar">
        <a href="{% url 'welcome' %}"><img src="{% static 'img/back-icon.png' %}" alt=""></a>
        <h3>Sign Up</h3>
      </div>
      {% if error_messsage %}
      <p class="red-text">{{ error_message }}</p>{% endif %}
    </section>
    <main class="container">  
    <section class="wrapper wrap-signup">
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-signup lowered" value="signup">
      </form>
    </section>
  </main>
</body>
</html>
