{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  
  <title>Tinterest</title>
</head>
<body>
  <nav class="nav-wraper white">
    <div class="container">
      <a href="/" class="brand-logo pink-text">Tinterest</a>
      <a href="#" class="sidenav-trigger right pink-text" data-target="mobile-links">
        <i class="material-icons ">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">      
        {% if user.is_authenticated %} 
        <li><a href="{% url 'home' %}" class="pink-text">Home</a></li>
        <li><a href="{% url 'edit_profile' %}" class="pink-text">Edit Profile</a></li>
        <li><a href="#" class="pink-text">Saved</a></li>
        <li><a href="#"class="pink-text">Search</a></li>
        <li><a href="{% url 'logout' %}"class="pink-text">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'login' %}" class="pink-text">Log In</a></li>
        <li><a href="{% url 'signup' %}" class="pink-text">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav pink" id="mobile-links">
    {% if user.is_authenticated %} 
    
    <li ><a href="#" class="white-text"><i class="material-icons white-text">home</i>Home</a></li>
    <li><a href="{% url 'edit_profile' %}" class="white-text"><i class="material-icons white-text">account_circle</i>Edit Profile</a></li>
    <li><a href="#" class="white-text"><i class="material-icons white-text">favorite_border</i>Saved</a></li>
    <li><a href="#" class="white-text"><i class="material-icons white-text">search</i>Search</a></li>
    <li><a href="{% url 'logout' %}" class="white-text"><i class="material-icons white-text">logout</i>Log Out</a></li>
    {% else %}
    <li><a href="{% url 'login' %}" class="white-text"><i class="material-icons white-text">login</i>Log In</a></li>
    <li><a href="{% url 'signup' %}" class="white-text"><i class="material-icons white-text">signup</i>Sign Up</a></li>
    {% endif %}
  </ul>
  
  
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  <script>
    $(document).ready(function() {
      $('.sidenav').sidenav()
      $('select').formSelect();
      $('select').material_select();
      $('datepicker').pickadate()
      $('timepicker').pickatime()
    })
  </script>
  
</body>
</html>