
{% extends 'base.html' %}

{% block content %}

  
    <h4>Edit Profile</h4>
    <h5 class="center-align">{{ user.username }}</h5>
<p class="text-secondary center-align">{{ user.profile.about }}</p>
    <form method="POST" action="{% url 'update_profile' user.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Username</label><br>
       <input type="text" name="username" placeholder="{{ user.username }}" value="{{ user.username }}"></input>
       <br>
       <label for="about">About</label><br>
       <textarea name="about" placeholder="{{ user.profile.about }}">{{ user.profile.about }}</textarea>
       <br>
       <label for="website">Website</label><br>
       <input type="text" name="website" placeholder="{{ user.profile.website }}" value="{{ user.profile.website }}"></input>
       <br>

      
       <button type="submit">Submit</button>
       
    </form>
   
 
 
{% endblock %}
















