
{% extends 'base.html' %}

{% block content %}


<h6 class="center-align">Edit Profile</h6>
    
<!-- <h5 class="center-align">{{ user.username }}</h5>
<p class="text-secondary center-align">{{ user.profile.about }}</p> -->
    <section class="wrapper wrap-form">
        <form method="POST" action="{% url 'update_profile' user.id %}" enctype="multipart/form-data">
            {% csrf_token %}
           
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="{{ user.username }}" value="{{ user.username }}"></input>
                </div>
            
           
                <label for="about">About</label>
                <textarea name="about" placeholder="{{ user.profile.about }}">{{ user.profile.about }}</textarea>
                
            
           
                <label for="website">Website</label>
                <input type="text" name="website" placeholder="{{ user.profile.website }}" value="{{ user.profile.website }}"></input>
           
            
            <div class="form-btns">
                <a class="small-btn inactive" href="{% url 'profile' %}" >Back</a>
                <button class="small-btn pink" type="submit">Submit</button>
            </div>
        </form>
    </section>
   
 
 
{% endblock %}







  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <!-- <form action="" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
</table>
    <input type="submit" value="Submit!" class="btn">
</form> -->








