
{% extends 'base.html' %}

{% block content %}

  
    <h4>Edit Profile</h4>
    <h5 class="center-align">{{ user.username }}</h5>
<p class="text-secondary center-align">{{ user.profile.about }}</p>
    <form method="POST" action="{% url 'update_profile' user.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
       

                <button type="submit">Submit</button>
    </form>
   
 
 
{% endblock %}







  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <!-- <form action="" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
</table>
    <input type="submit" value="Submit!" class="btn">
</form> -->








