{% extends 'base.html' %}
{% block content %}

<!-- <h5 class="center-align">Profile</h5> -->
<br>
<div style="display: flex; justify-content: center;" >
  <img class="circle" width='25%'  src="{{ user.profile.image.url }}">
</div>

<h5 class="center-align">{{ user.username }}</h5>
<p class="text-secondary center-align">{{ user.profile.about }}</p>
<p class="text-secondary center-align"><a href="{{ user.profile.website }}" target="_blank">{{ user.profile.website }}</a></p>
<div style="display: flex; justify-content: center;" >
  <a href="{% url 'edit_profile' %}" class="waves-effect waves-light btn-small pink">Edit Profile</a>
</div>

<a href="{% url 'new_post' %}" class="right"><i class="material-icons">add</i></a>
<div class="category-btns">
  <a id="created-btn" class="category-button" href="">Created</a>
  <a id="saved-btn" class="category-button active" href="">Saved</a>
</div>
<!-- added the posts created below -->
<div class="post-container">
  {% for post in posts %}
    <div class="post-item">
      <a href="{% url 'detail' post.id %}">
        <img class='cover'src="{{ post.image.url }}">
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
