{% extends 'base.html' %}
{% block content %}

<h5 class="center-align">Profile</h5>
<div style="display: flex; justify-content: center;" >
  <img class="circle" width='25%'  src="{{ user.profile.image.url }}">
</div>


<h6 class="center-align">{{ user.username }}</h6>

<p class="text-secondary center-align">{{ user.email }}</p>
<p class="text-secondary">{{ profile.email }}</p>

  <!-- FORM HERE -->




<a href="{% url 'posts_create' %}" class="right"><i class="material-icons pink-text">add</i></a>

{% endblock %}