{% extends 'base.html' %}
{% block content %}

<br>
<div style="display: flex; justify-content: center;" >
  <img class="circle" width='25%'  src="{{ user.profile.image.url }}">
</div>

<h5 class="center-align">{{ user.username }}</h5>
<p class="text-secondary center-align">{{ user.profile.about }}</p>
<p class="text-secondary center-align"><a href="{{ user.profile.website }}" target="_blank">{{ user.profile.website }}</a></p>

<div class="post-container">
    {% for post in posts %}
      <div class="post-item">
        <a href="{% url 'detail' post.id %}">
          <img class='cover'src="{{ post.image }}">
        </a>
      </div>
    {% endfor %}
  </div>



{% endblock %}