{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-content">
    <img class='cover'src="{{ post.image.url }}">
    <h5>{{ post.title }}</h5>
    <br>
    <p>{{ post.description }}</p>
    <p class="tag">{{ post.tags }}</p>
   
  </div>
</div>

<div class="btn-container right">
  <button class="small-btn inactive">
    <a href="{% url 'posts_delete' post.id %}" >Delete</a>
  </button>
  <button class="small-btn pink">
    <a href="{% url 'posts_update' post.id %}" class="white-text ">Edit</a>
  </button>
</div>


{% endblock %}