/* general */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ol, ul, menu {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #212121;
}

h1,h2,h3,h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight:700;
}

/* signup & login screen styles */
/* container comes from materialize, added here for pages
that don't have container class */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
/* this is pre-login navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 130px;
}

.header {
  font-size: 2.5rem;
}
.wrapper {
  margin-top: 3.6rem;
}
.wrap-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* form styles */
.helptext {
  display: none;
}
form p {
display: flex;
flex-direction: column;
}
form label {
align-self: flex-start;
font-weight: 700;
font-size: 1.2rem;
margin-top: 24px;
}
form input {
border: 1px solid #D9D9D9;
margin-top: 8px;
}


/* responsive */
@media screen and (min-width: 768px) {
  
  .navbar {
    gap: 300px;
  }
  .container {
    min-width: 85%;
  }
  .wrap-signup form {
    width: 90%;
  }

}
@media screen and (min-width: 1024px) {
  .navbar {
    gap: 418px;
  }
  
}