/* buttons */
/* big buttons */
.btn  {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: white;
  padding: 0.6rem 6rem;
  border-radius: 15rem;
  margin-top: 0.375rem;
  cursor: pointer;
}
.btn-gray {
  background-color: #F3EEEF;
  color: #212121;
}
.btn-pink {
  background-color: #BB3B80;
}
/* .btn-signup {
  background-color: #BB3B80;
}
.btn-login {
  background-color: #F3EEEF;
  color: #212121;
} */
/* small buttons */
.small-btn {
  font-family: 'Inter', sans-serif;
  color: white;
  border-radius: 100px;
  padding: 4px 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.inactive {
  background-color: #F3EEEF;
  color: #212121;
  margin-right: 8px;
}
.search-btn {
  font-family: 'Inter', sans-serif;
  color: #212121;
  background-color: white;
  border-radius: 100px;
  padding: 11px 13px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;

}
/* container for created & saved btns on profile */
.category-btns {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}
/* created and saved btns on profile */
/* .created-btn {
  font-family: 'Inter', sans-serif;
  color: #212121;
} */
.category-button {
  font-family: 'Inter', sans-serif;
  color: #212121;
  font-size: 14px;
}
.category-button.active {
  font-family: 'Inter', sans-serif;
  color: white;
  border-radius: 100px;
  padding: 4px 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #BB3B80;
}
.small-signup-btn {
  font-family: 'Inter', sans-serif;
  border-radius: 100px;
  padding: 4px 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #F3EEEF;
  color: #212121;
}
/* .created-btn:hover {
  color: white;
  background-color: #FF4D67;
  border-radius: 100px;
  padding: 4px 16px;
  font-size: 14px;
} */
/* container for 2 cta btns side by side */
.btn-container {
  margin-top: 24px;
}

/* responsiveness */
